/* Branding */

footer {
    display: none !important;
}

#tab_bar_logo {
    overflow: visible !important;
    border-width: 0 !important;
    height: 0px !important;
    padding: 0;
    margin: 0;
}

#tab_bar_logo .image-container {
    object-fit: scale-down;
    position: absolute !important;
    top: 14px;
    right: 0px;
    height: 64px;
    z-index: 1000;
}

/* centered logo for when there are no images */
#top_logo.logo_centered {
    height: 100%;
    width: 100%;
    background-color: var(--background-fill-secondary);
}

#top_logo.logo_centered img {
    object-fit: scale-down;
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* buttons with glyphs */
.output_icon_button {
    max-width: 30px;
    align-self: end;
    padding-bottom: 16px;
    margin-right: 4px;
}

/* output gallery tab */
#gallery-panel .fixed-height {
    /* min-height: 90vh !important; */
    min-height: calc(100vmin - var(--size-20) - var(--size-6)) !important;
    max-height: calc(100vmin - var(--size-20) - var(--size-6)) !important;
}

#gallery-panel {
    max-width: calc(100vmin - var(--size-20) - var(--size-6)) !important;
    min-width: calc(100vmin - var(--size-20) - var(--size-6)) !important;
}

.right-panel {
    min-height: calc(100vmin - var(--size-20) - var(--size-6)) !important;
    overflow-y: scroll;
}

.right-panel .end-fill {
    flex-grow: 1;
    align-content: flex-end;
    align-items: last baseline;
}

.output_parameters_dataframe table.table {
    /* works around a gradio bug that always shows scrollbars */
    overflow: clip auto;
}

#output_subdir_container {
    background: var(--block-background-fill);
}

#output_subdir_container .align_bottom .container {
    margin-top: 28px;
}

/* output gallery tab, parameter info dataframe */

#parameter_panel {
    line-height: var(--line-xs);
}

#parameter_panel .gap, .parameter_row {
    row-gap: 0px;
    column-gap: 0px;
}

#parameter_panel .parameter_label {
    border-radius: var(--block-radius) 0px 0px var(--block-radius);
}

#parameter_panel .parameter_label, .parameter_label input {
    border-style: none;
    background-color: var(--background-fill-secondary);
}

#parameter_panel .parameter_value {
    border-radius: 0px var(--block-radius) var(--block-radius) 0px;
}

#parameter_panel .parameter_dropdown .wrap-inner {
    padding: 8px;
}

.control_label input {
    border-style: none;
}

/* we don't use :last-child() for the following selectors as it doesn't
   do what we want if we have other children of the parent that
   aren't .parameter_row
*/

/* parameter_label, in a parameter_row that has a parameter_row after it */
#parameter_panel .parameter_row:has(~ .parameter_row) .parameter_label {
    border-width: 1px 0px 0px 1px !important;
}

/* parameter_label, in a parameter_row that doesn't have a parameter_row after it */
#parameter_panel .parameter_row:not(:has(~ .parameter_row)) .parameter_label {
    border-width: 1px 0px 1px 1px !important;
}

/* parameter_value, in a parameter_row that has a parameter_row after it */
#parameter_panel .parameter_row:has(~ .parameter_row) .parameter_value {
    border-width: 1px 1px 0px 0px !important;
}

/* parameter_value, in a parameter_row that doesn't have a parameter_row after it */
#parameter_panel .parameter_row:not(:has(~ .parameter_row)) .parameter_value {
    border-width: 1px 1px 1px 0px !important;
}

.output_parameters_dataframe tbody td {
    /* make more compact */
    font-size: small;
    line-height: var(--line-xs);
}

.output_parameters_dataframe tbody td:first-child {
    /* prevents editing of the parameter column */
    pointer-events: none;
}

.output_parameters_dataframe input {
    /* expands editor for values to fill the whole cell */
    width: calc(100% - var(--size-4));
    height: calc(100% - var(--size-4));
}

.output_parameters_dataframe input:focus {
    outline: none;
}
