/* Branding */

footer {
    display: none !important;
}

#tab_bar_logo {
    overflow: visible !important;
    border-width: 0 !important;
    height: 0px !important;
    padding: 0;
    margin: 0;
}

#tab_bar_logo .image-container {
    object-fit: scale-down;
    position: absolute !important;
    top: 14px;
    right: 0px;
    height: 64px;
    z-index: 1000;
}

/* buttons with glyphs */
.output_icon_button {
    max-width: 30px;
    align-self: end;
    padding-bottom: 16px;
    margin-right: 4px;
}

/* output gallery tab */
#outputgallery_gallery .fixed-height {
    /* min-height: 90vh !important; */
    min-height: calc(100vmin - var(--size-20) - var(--size-6)) !important;
}

.sd-right-panel {
    height: calc(100vmin - var(--size-24)) !important;
    overflow-y: scroll;
}

.sd-right-panel .fill {
    flex: 1;
}

.output_parameters_dataframe table.table {
    /* works around a gradio bug that always shows scrollbars */
    overflow: clip auto;
}

#output_subdir_container {
    background: var(--block-background-fill);
}

/* output gallery tab, parameter info dataframe */

.output_parameters_dataframe tbody td {
    /* make more compact */
    font-size: small;
    line-height: var(--line-xs);
}

.output_parameters_dataframe tbody td:first-child {
    /* prevents editing of the parameter column */
    pointer-events: none;
}

.output_parameters_dataframe input {
    /* expands editor for values to fill the whole cell */
    width: calc(100% - var(--size-4));
    height: calc(100% - var(--size-4));
}

.output_parameters_dataframe input:focus {
    outline: none;
}
