/* Branding */

footer {
    display: none !important;
}

#tab_bar_logo {
    overflow: visible !important;
    border-width: 0 !important;
    height: 0px !important;
    padding: 0;
    margin: 0;
}

#tab_bar_logo .image-container {
    object-fit: scale-down;
    position: absolute !important;
    top: 14px;
    right: 0px;
    height: 64px;
    z-index: 1000;
}

/* Overall sizing */

/* display in full width for desktop devices, but see below */
/* @media (min-width: 1536px)
{
    .gradio-container {
        max-width: var(--size-full) !important;
    }
} */

/* media rules in custom css are don't appear to be applied in
   gradio versions > 4.7, so we have to define a class which
   we will manually need add and remove using javascript.
   Remove this once this fixed in gradio.
*/
/* .gradio-container-size-full {
    max-width: var(--size-full) !important;
} */

.gradio-container {
    max-width: var(--size-full) !important;
}

.gradio-container .contain {
    padding: 0 var(--size-4) !important;
}

/* buttons with glyphs */

.output_icon_button {
    max-width: 30px;
    align-self: end;
    padding-bottom: 16px;
    margin-right: 4px;
}

/* output gallery tab */
#outputgallery_gallery .fixed-height {
    min-height: 89vh !important;
}

.output_parameters_dataframe table.table {
    /* works around a gradio bug that always shows scrollbars */
    overflow: clip auto;
}

.output_parameters_dataframe tbody td {
    font-size: small;
    line-height: var(--line-xs);
}

#output_subdir_container {
    background: var(--block-background-fill);
}